<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/80c59fbf-e0d6-4e75-8c38-755d8fb01ddf/resourceGroups/YachtShop-UKW/providers/Microsoft.Web/sites/YachtShopAPI</ResourceId>
    <ResourceGroup>YachtShop-UKW</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://yachtshopapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>00e8e493-2a84-4848-a936-1a92ec953632</ProjectGuid>
    <MSDeployServiceURL>yachtshopapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>YachtShopAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA1TjBtHqzvUK7G0Lqwvr5MQAAAAACAAAAAAAQZgAAAAEAACAAAADLTSlJJWjc8wy3ciuSkBnK+Mo/5dY8OWNpa/8psygOMQAAAAAOgAAAAAIAACAAAACt1PgA5HMJb0+RAjkWOoYeBlzp9r5o7uvQ5q457q1FhSAAAACCsppBks7ByTlBsprT5eRaasaQh+aH6lc5mcpEwAYcwUAAAAAAj1xMjJ+BjsuF6+HeIyH85ZlZ3CY/O8Jz0fW2JkVYHBEEm378rXX/cXuFtgHKh6Rj/RDtvkq1wawE7nxXOFAL</EncryptedPassword>
    <History>False|2024-09-03T17:10:09.1185501Z||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>