<div class="title_section">
    <h1 class="header">@Title</h1>
    
    @if (Actions is not null)
    {
        <div class="title_actions">
            @Actions
        </div>
    }

    @ChildContent
</div>


@code {
    [Parameter]
    required public string Title { get; set; }

    [Parameter]
    public RenderFragment? Actions { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}