################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/

# .NET Core
*.dll
*.exe
*.so
*.dylib
*.pdb
*.db
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.assets.json

# Visual Studio Code
.vscode/

# Rider
.idea/
*.iml

# Others
*.cache
*.diff
*.patch
*.orig
*.rej
*.bak
*.swp
*.swo

# Static files
wwwroot/static/
wwwroot/staticwebassets/

# User-specific files
*.apphost.exe
*.csproj.user
*.db-shm
*.db-wal
*.sln.ide

# Entity Framework
migrations/

# Local development secrets
secrets.json
.env

# Docker
**/docker-compose.override.yml
**/.dockerignore

# Logs
*.log
log/
logs/

# JetBrains Rider
.idea/

# Temporary files
*.tmp
*.temp
~$*

frontend/node_modules
frontend/source/node_modules
frontend/source/.next
