##################################
# IDE / Editor (all projects)
##################################

.vs/
.idea/
.vscode/

*.user
*.suo
*.userprefs
*.DotSettings.user
_ReSharper*/


##################################
# Build output (all projects)
##################################

**/bin/
**/obj/
**/Debug/
**/Release/
**/publish/
**/build/


##################################
# .NET / ASP.NET Core
##################################

**/artifacts/
**/project.lock.json
**/project.fragment.lock.json

**/appsettings.Development.json
**/appsettings.Local.json
**/wwwroot/lib/

**/*.log
**/TestResults/

**/*.nupkg
**/*.snupkg
**/packages/
**/.nuget/


##################################
# Environment variables
##################################

**/.env
**/.env.*


##################################
# Flutter / Dart (any subfolder)
##################################

**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/

**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata

**/coverage/


##################################
# Flutter - Android
##################################

**/android/.gradle/
**/android/local.properties
**/android/key.properties

**/android/app/debug/
**/android/app/profile/
**/android/app/release/

**/*.apk
**/*.aab


##################################
# Flutter - iOS
##################################

**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework

**/ios/*.xcuserstate
**/ios/*.xcsettings
**/ios/*.xcbkptlist


##################################
# OS junk
##################################

.DS_Store
Thumbs.db