@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation
@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
            <div class="container py-5">

                <!--Header Row-->
                <div class="d-flex justify-content-between align-items-start mb-4">
                    <div>
                        <h1 class="fw-bold">@PageHeading</h1>
                        @if (!string.IsNullOrWhiteSpace(PageSubHeading))
                        {
                            <p class="text-muted mb-0">@PageSubHeading</p>
                        }
                        
                    </div>

                    @if (!string.IsNullOrWhiteSpace(ToolboxButtonText) && !string.IsNullOrWhiteSpace(ToolboxButtonIcon))
                    {
                        <button class="btn btn-dark d-flex align-items-center gap-2" @onclick="AddReptile">
                            <span class="fs-5">@ToolboxButtonIcon</span>
                            @ToolboxButtonText
                        </button>
                    }
                </div>
            </div>

            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code {
    public string PageHeading { get; set; } = string.Empty;
    public string? PageSubHeading { get; set; } = string.Empty;
    public string? ToolboxButtonText { get; set; } = string.Empty;
    public string? ToolboxButtonIcon { get; set; } = string.Empty;

    private void AddReptile()
    {
        Navigation.NavigateTo("/add-reptile");
    }

    public void Refresh() => StateHasChanged();
}
