.agenda_card {
    display: flex;
    align-items: center;
    width: 250px;
    height: 80px;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 16px;
    background-color: white;
    gap: 1rem;
    text-align: left;
}

.bi {
    font-size: 3rem;
}

.agenda_text {
    display: flex;
    flex-direction: column;
}

.agenda_total {
    font-size: 1.5rem;
    font-weight: 600;
}

.agenda_description {
    font-size: 1.2rem;
    opacity: 0.7;
}
