<div class="reptile_card">
    <div class="name_and_sex">
        <span class="name">@Name</span>
        @if(!string.IsNullOrWhiteSpace(SexIcon))
        {
            <span class="bi @SexIcon"></span>
        }
    </div>
    
    @if(!string.IsNullOrWhiteSpace(Species))
    {
        <div class="species">
            <p class="species_text">@Species</p>
        </div>
    }
</div>

@code {
    [Parameter]
    required public string Name { get; set; }

    [Parameter]
    public string? SexIcon { get; set; }

    [Parameter]
    public string? Species { get; set; }
}
