@using ReptiRealm_WebApp.Models.Enums

<div class="reptile_card">
    <div class="name_and_sex">
        <span class="name">@Name</span>
        @if(!string.IsNullOrWhiteSpace(SexIcon))
        {
            <span class="@SexIcon"></span>
        }
    </div>

    @if(!string.IsNullOrWhiteSpace(Species))
    {
        <div class="species">
            <p class="species_text">@Species</p>
        </div>
    }
</div>

@code {
    [Parameter]
    required public string Name { get; set; }

    [Parameter]
    public Sex Sex { get; set; } = Sex.Unknown;

    [Parameter]
    public string? Species { get; set; }


    private string SexIcon => Sex switch
    {
        Sex.Male => "bi bi-gender-male",
        Sex.Female => "bi bi-gender-female",
        _ => ""
    };
}
