.reptile_card {
    background: #1b1b1b;
    border-radius: 16px;
    padding: 1rem;
    color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.name_and_sex {
    display: flex;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 0.5rem;
}

.species {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    color: #cfcfcf;
    font-weight: 500;
    font-size: 0.95rem;
}
