.view-name {
    margin-bottom: 1.5rem;
}

.view-sex {
    margin-bottom: 1.5rem;
}

.view-species {
    margin-bottom: 1.5rem;
}

.view-dob {
    margin-bottom: 1.5rem;
}

.view-date-obtained {
    margin-bottom: 1.5rem;
}
