@page "/"
@using ReptiRealm_WebApp.Layout

<PageTitle>Home</PageTitle>

<!--Reptile List-->
<div class="row gy-3">
    <div class="col-12 col-md-8 col-lg-6">
        <ReptileCard />
    </div>
</div>

@code {
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        if (Layout != null)
        {
            Layout.PageHeading = "ReptiRealm";
            Layout.PageSubHeading = "This is a sub heading";
            Layout.ToolboxButtonText = "Add Reptile";
            Layout.ToolboxButtonIcon = "+";
            Layout.Refresh(); // Force layout to update
        }
    }
}
