<div class="d-flex justify-content-between align-items-start mb-4">
    <div>
        <h1 class="fw-bold">@Heading</h1>
        @if (!string.IsNullOrWhiteSpace(SubHeading))
        {
            <p class="text-muted mb-0">@SubHeading</p>
        }

    </div>

    @if (!string.IsNullOrWhiteSpace(ButtonText) && ButtonAction != null)
    {
        <button class="btn btn-dark d-flex align-items-center gap-2" @onclick="ButtonAction">
            @if (!string.IsNullOrWhiteSpace(ButtonIcon))
            {
                <span class="fs-5">@ButtonIcon</span>
            }
            @ButtonText
        </button>
    }
</div>

@code {
    [Parameter]
    public string Heading { get; set; } = "ReptiRealm";
    [Parameter]
    public string? SubHeading { get; set; } = null;
    [Parameter]
    public string? ButtonText { get; set; } = null;
    [Parameter]
    public string? ButtonIcon { get; set; } = null;
    [Parameter]
    public Func<Task>? ButtonAction { get; set; } = null;
}
