.agenda-section {
    margin-top: 1rem;
}

.agenda-activities {
    display: flex;
    gap: 1rem;
    border-block-color: black;
    margin-bottom: 2rem;
}

.agenda-activities > * {
    flex: 1;
}

.reptile-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1rem;
}

@media (max-width: 2500px) {
    .reptile-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 2000px) {
    .reptile-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1400px) {
    .reptile-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .reptile-grid {
        grid-template-columns: 1fr;
    }
}