.agenda_section {
    margin-top: 1rem;
}

.agenda_tasks {
    display: flex;
    gap: 1rem;
    border-block-color: black;
    margin-bottom: 2rem;
}

.agenda_tasks > * {
    flex: 1;
}

.reptile_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1rem;
}

@media (max-width: 2500px) {
    .reptile_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 2000px) {
    .reptile_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1400px) {
    .reptile_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .reptile_grid {
        grid-template-columns: 1fr;
    }
}