@page "/"
@using ReptiRealm_WebApp.Pages.Home.Components
@using ReptiRealm_WebApp.Models.Enums

<PageTitle>Home</PageTitle>

<div class="homepage">
    <h1 class="header">Hello, ReptiKeeper!</h1>
    <div class="todays_agenda_header">
        <h3 class="sub_header">Today's Agenda</h3>
        <p>feeds, waters, beddings, spot checks...</p>
    </div>
    <div class="my_reptiles_header">
        <h3 class="sub_header">My Reptiles</h3>
    </div>
    <div class="reptile_grid">
        <ReptileCard Name="Ra"
                     Sex="Sex.Male"
                     Species="Corn snake" />

        <ReptileCard Name="Kaiba"
                     Sex="Sex.Female" />

        <ReptileCard Name="Lucifer"
                     Species="Mexican black kingsnake" />

        <ReptileCard Name="Poseidon" />

        <ReptileCard Name="Poseidon" />

        <ReptileCard Name="Poseidon" />

        <ReptileCard Name="Poseidon" />

        <ReptileCard Name="Poseidon" />

        <ReptileCard Name="Poseidon" />
    </div>
</div>
