.welcome_section {
    margin-bottom: 1rem;
}

.agenda_tasks {
    display: flex;
    gap: 1rem;
    border-block-color: black;
    margin-bottom: 2rem;
}

    .agenda_tasks > * {
        flex: 1;
    }

.reptile_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    align-items: stretch;
}

    .reptile_grid > * {
        display: flex;
    }
