@page "/"
@using ReptiRealm_WebApp.Pages.Home.Components
@using ReptiRealm_WebApp.Pages.Shared.Components
@using ReptiRealm_WebApp.Models.Enums


<PageTitle>Home</PageTitle>
<div class="homepage">
    <TitleSection Title=" Welcome, ReptiKeeper!">
        <Actions>
            <QuickActionButton Icon="bi-plus-lg"
                               Text="New Reptile" />
        </Actions>
    </TitleSection>
    
    <SubSection Subtitle="My Agenda">
        <ChildContent>
            <div class="agenda_tasks">
                <AgendaCard Icon="bi-fork-knife"
                            AgendaTotal="4"
                            AgendaDescription="Feeds" />

                <AgendaCard Icon="bi-droplet"
                            AgendaTotal="1"
                            AgendaDescription="Waters" />

                <AgendaCard Icon="bi-layers"
                            AgendaTotal="0"
                            AgendaDescription="Substrates" />
            </div>
        </ChildContent>
    </SubSection>
    
    <SubSection Subtitle="My Reptiles">
        <Actions>
            <!-- This is where the filters will go -->
        </Actions>
        <ChildContent>
            <div class="reptile_grid">
                <ReptileCard Name="Ra"
                             Sex="Sex.Male"
                             Species="Corn snake" />

                <ReptileCard Name="Kaiba"
                             Sex="Sex.Female" />

                <ReptileCard Name="Lucifer"
                             Species="Mexican black kingsnake" />

                <ReptileCard Name="1" />

                <ReptileCard Name="2" />

                <ReptileCard Name="3" />

                <ReptileCard Name="4" />

                <ReptileCard Name="5" />

                <AddNewReptileCard />
            </div>
        </ChildContent>
    </SubSection>
</div>
