<div class="sidebar">
    <div class="navbar">
        <a class="navbar-brand" href="">
            <span class="brand-white">Repti</span>
            <span class="brand-green">Realm</span>
        </a>
    </div>

    <div class="nav-menu">
        <nav class="flex-column">
            <NavItem Icon="bi-house-door"
                     Text="Home"
                     Match="NavLinkMatch.All" />

            <NavItem Icon="bi-list-check"
                     Text="Tasks"
                     Href="tasks" />

            <NavItem Icon="bi-calendar-event"
                     Text="Calendar"
                     Href="calendar" />
        
            <NavItem Icon="bi-fork-knife"
                     Text="Food"
                     Href="food" />
        </nav>
    </div>
</div>