@page "/reptile/create"
<p>Create</p>

@code {
    protected override void OnInitialized()
    {
        HeaderState.SetHeader(new HeaderData
        {
            Heading = "ReptiRealm",
            SubHeading = "Add Reptile",
        });
    }
}
